## 2.4 Обучение, переобучение, недообучение и кросвалидация

Мы собрали побольше данных о котиках и собачках, и готовы обучить нашего робота их классифицировать! Скачайте тренировочный датасэт и  обучите на нём Decision Tree. После этого скачайте датасэт из задания и предскажите какие наблюдения к кому относятся. Введите число собачек в вашем датасэте.

In [ ]:
from sklearn import tree
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from IPython.display import SVG
from graphviz import Source
from IPython.display import display

from IPython.display import HTML
style = "<style>svg{width:50% !important; height:50% !important;}</style>"

In [33]:
# load train and data
dnc_train = pd.read_csv('dogs_n_cats.csv') #set first column as index

In [34]:
dnc_train.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [35]:
# split data to train and test data 
X_train = dnc_train.drop('Вид', axis=1)
y_train = dnc_train.Вид

In [36]:
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [37]:
dnc_test = pd.read_json('dataset_209691_15.txt')

In [38]:
dnc_test.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     23    27.6         1        1                   0
1     33    39.6         1        1                   0
2     32    38.4         1        1                   0
3     24    28.8         1        1                   0
4     32    38.4         1        1                   0

In [39]:
pred = pd.DataFrame({"Bид":clf.predict(dnc_test)})
pred.head()

       Bид
0  собачка
1  собачка
2  собачка
3  собачка
4  собачка

In [40]:
pred.query("Bид == 'собачка'").count()

Bид    55
dtype: int64